streamlit>=1.24.0
gTTS>=2.3.0
SpeechRecognition>=3.8.1
pydub>=0.25.1
audio-recorder-streamlit==0.0.10
git+https://github.com/SamuelAnand10/audio-recorder-streamlit.git@app.py#egg=audio-recorder-streamlit
